.title-level-2 {
    font-size: 50px;
    line-height: 35px;
    color: $color-blue-3;
    font-weight: 300;
    font-family: "Lato";
    text-align: center;
    padding: 97px;
    padding-bottom: 68px;
}

.simple_text {
    width: 1096px;
    height: 167px;
    font-size: 16px;
    line-height: 35px;
    color: $color-black;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
}
