.cookies {
    background-color: $cookies-background-color;
    padding-top: 20px;
    padding-bottom: 20px;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__chekbox {
        @include visuality-hidden;

        &:checked+.cookies {
            display: none;
        }
    }

    // .cookies__text

    &__text {
        display: inline-block;
        font-size: 14px;
        line-height: 36px;
        color: $color-white;
        font-weight: 400;
        font-family: $main-font;
        margin-right: 50px;

    }

    // .cookies__button

    &__button {
        padding-top: 9px;
        width: 112px;
        height: 34px;
        box-sizing: border-box;
        border-radius: 15px;
        background-color: $color-white;
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 16px;
        color: $accept-btn-text-color;
        font-weight: 700;
        font-family: $main-font;
        text-align: center;
    }
}
