$gap: 15px;
$grid-max-width: 1140px;
$break-points: (
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px
);


$color-white: #fff;
$color-lightblue: #f1f8ff;
$color-darkblue: #194277;
$color-red: #eb304d;
$color-red-2: #b9bcd1;
$color-blue-2: #3695ff;
$color-blue-3: #3677fd;
$color-black: #5a5a5a;
$gradient-blue: linear-gradient(51deg, #3595ff 0%, #3564fc 100%);


$cookies-background-color: $color-darkblue;
$background-color-lightblue: $color-lightblue;
$background-color-white: $color-white;
$background-header: $gradient-blue;
$background-footer: $gradient-blue;

$symu-btn-background: $color-red;
$symu-btn-text-color: $color-white;
$hire-me-btn-background: $color-white;
$hire-me-btn-text-color: $color-blue-2;
$accept-btn-background: $color-white;
$accept-btn-text-color: $color-darkblue;

$section-name-color: $color-blue-3;
$section-text: $color-black;
$header-text-color: $color-white;
$footer-text-color: $color-white;
